%section.hero
  .hero-body
    .container.has-text-centered
      %h1.title
        %i.fa.fa-user
        = current_user.name
        様
      %h2.subtitle
.content
  %ul{:type => "1"}
    %li
      = @plan.nickname
      （#{@plan.amount}円/月）#{link_to "詳細", edit_user_registration_path, class: "button is-link"}
