%section.hero
  .hero-body
    .container.has-text-centered
      %h1.title
        %i.fa.fa-user
        マイパスポート
      %h2.subtitle
        ユーザー登録をしてつかい始めましょう
%section.section
  .book-grid
    = render @books
