<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <i class="fa fa-user"></i> マイパスポート
      </h1>
      <h2 class="subtitle">
        ユーザー登録をしてつかい始めましょう
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="book-grid">
    <%= render @books %>
  </div>
</section>
